body {
    background-color: #3C6E71;
}

#container {
    background-color: #C3C49E;
    min-height: 100vh;
    height: 100%;
    text-align: center;
    /* justify-items: center; */
}

#search {
    justify-content: center;
    text-align: left;
}

#userLocBtn {
    background-color: #1779ba;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.hotel-info {
    background-color: white;
}

.warning {
    color: red;
    font-style: italic;
}

.hide {
    display: none;
}

#overlay {
    background-color: black;
    opacity: 0.5;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

#loader {
    border: 16px solid white;
    border-top: 16px solid blue;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}